<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/statics/css/style.css">
  <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Movie Dashboard</h1>
      </div>
    </div>
     

    <div class="container">
        <div class="row row-grid">
            <div class="col-sm-12">
                <img src="/assets/images/IMDb.png" alt="IMDblogo" style="float:left;height:80px;padding:10px">
              
                <section id="filters">
                    <h5>Search for a movie title:</h5>
                    <input id="title_search">
                    <button type="button" onclick="title_search()">Submit</button>
                    <p id="search"></p>
                    <br>
                    </section>
                </div>
                </div>

            <div class="col-sm-12">
                <div class="box-right">
                  
                  <hr> 
                  <section class="chart">
                    <h3>Movie vote average compared to Budget or Revenue</h3>
                    </section>
                
                </div>
            </div>

            <div class="row row-grid">
              <div class="col-sm-12">
                  <hr> 
                  <section id="genre-chart-section">
                    <h3>Genre Rating visualization</h3>
                    <br>
                    <div class="dropdown">
                        <select id="menu1" data-toggle="dropdown" onchange="optionChanged(this.value)"></select>
                        <div id="genre-chart"></div>
                        
                      </div>
                    </section>

            <div class="row row-grid">
              <div class="col-sm-12">
                  <hr> 
                  <h3>Movie synopsis word cloud</h3>
                  <div id="wordcloud"></div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/statics/js/VoteRevBud.js"></script>
  <script src="/statics/js/inspiration.js"></script>
  <script src="/statics/js/genre_vote.js"></script>
  <script src="/statics/js/wordcloud.js"></script>
  
  <!-- <script src="{{ url_for('statics', filename='js/app.js') }}"></script> -->


</body>

</html>
